<div id="childsTicket">
	<div class="header1">
		<span class="containerText1">[% loc('POPUP_CONDICIONES_LABEL_DESCUENTONINOS') %]</span>
	</div>
	<div class="subContainer">
		<ul>
			<li> [% loc('POPUP_CONDICIONES_TEXTO_DESCUENTONINOS1') %] </li>
			<li> [% loc('POPUP_CONDICIONES_TEXTO_DESCUENTONINOS2') %] </li>
		</ul>
	</div>
</div>