  <table width="60%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>PNR:</td>
	<td>{PNR}</td>
  </tr>
    <tr>
    <td>Fecha Primer Segmento:</td>
	<td>{FECHA_PRIMER_SEGMENTO}</td>
  </tr>
  <tr>
    <td>Currency:</td>
	<td>{CURRENCY}</td>
  </tr>
  <tr>
    <td>Monto Final:</td>
	<td>{MONTO_FINAL}</td>
  </tr>
  <tr>
    <td>Medio de Pago:</td>
	<td>{MEDIO_DE_PAGO}</td>
  </tr>
 </table>
