<div class="change">
	<div class="header1">
		<span class="containerText1">[% loc('POPUP_CONDICIONES_LABEL_CAMBIOS') %]</span>
	</div>
	<div class="subContainer">
		<div class="textChange">
			<span class="titleBlock">[% loc('POPUP_CONDICIONES_TEXTO_CAMBIOS') %]</span>
			[% IF PORTAL=='espanol/pe' %]
				<div class="subTitlePeru">[% loc('POPUP_CONDICIONES_CAMBIOS_PERUENDOSO') %]</div>
				<ul class="listaPeru">
                    <li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUENDOSO1') %]</li>
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUENDOSO2') %]</li>
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUENDOSO3') %]</li>
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUENDOSO4') %]</li>
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUENDOSO5') %]</li>
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUENDOSO6') %]</li>
				</ul>
				<div class="subTitlePeru">[% loc('POPUP_CONDICIONES_CAMBIOS_PERUPOSTERGACIONES') %]</div>
				<ul class="listaPeru">
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUPOSTERGACIONES1') %]</li>
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUPOSTERGACIONES2') %]</li>
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUPOSTERGACIONES3') %]</li>
					<li>[% loc('POPUP_CONDICIONES_CAMBIOS_PERUPOSTERGACIONES4') %]</li>
				</ul>
			[% ELSE %]
				<ul>
                                	<li>[% loc('LAN_CONDICIONES_CAMBIOS_BAJADA_1') %]</li>
                                	<li>[% loc('LAN_CONDICIONES_CAMBIOS_BAJADA_2') %]</li>
                                	<li>[% loc('LAN_CONDICIONES_CAMBIOS_BAJADA_3') %]</li>
                                	<li>[% loc('LAN_CONDICIONES_CAMBIOS_BAJADA_4') %]</li>
                        	</ul>
			[% END %]
		</div>
		[% IF changeError == 0 %]
			[% INCLUDE	compra/ShowRegulations/Changes/changesItinerary.tt
					OUTBOUND_LEGS = OUTBOUND
					INBOUND_LEGS  = INBOUND %]
		[% ELSE %]
			[% INCLUDE compra/ShowRegulations/error.tt
						sectionChange = 1 %]
		[% END %]
	</div>
</div>
